body {
  background-color: #727272;
  color: #ffa;
}
header {
  background-color: aliceblue;
  color: #727272;
}
header h1 {
  font-size: 40px;
}
.fancier-border {
  border: 1px blue solid;
  background-color: aliceblue;
  color: #272727;
}
.container {
  box-shadow: 0 0 5px grey;
  transform: rotate(7.5deg);
}
button {
  width: 50%;
  background-color: #bf4040;
}
