@import "./abstracts/resets";
@import "./abstracts/variables";
@import "./abstracts/mixin";

body {
   @include pageTheme(false);
    font-family: $font-family;
    font-weight: map-get($font-weights, "medium");
}

.main {
    @include flexCenter(column);
    background-color: $primary-color;
    #{&}__paragraph {
        color: $accent-color;
        &:hover {
            color: pink;
        }
    }

    @include mobile-breakpoint($mobile) {
        background-color: lightgreen;
    }
}