* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #272727;
}
.main .main__paragraph {
  color: #45ff45;
}
.main .main__paragraph:hover {
  color: pink;
}
@media screen and (max-width: 546px) {
  .main {
    background-color: lightgreen;
    color: #333;
  }
}

.message, .error, .warning, .success {
  font-size: 1.5rem;
}

.success {
  background-color: green;
}

.warning {
  background-color: orangered;
}

.error {
  background-color: red;
}

.main {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 12px;
  margin-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

.stuff-1 {
  margin: 1rem;
}

.stuff-2 {
  margin: 2rem;
}

.stuff-3 {
  margin: 3rem;
}

.stuff-4 {
  margin: 4rem;
}

.stuff-5 {
  margin: 5rem;
}