* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #272727;
}
.main .main__paragraph {
  color: #45ff45;
}
.main .main__paragraph:hover {
  color: pink;
}
@media screen and (max-width: 546px) {
  .main {
    background-color: lightgreen;
  }
}